.container.proto-new
  = form_for @prototype do |f|
    = f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, placeholder: "Title", class: "proto-new-title"
      .row
        .col-md-12
          .cover-image-upload
            = f.fields_for :prototype_images, @main_content do |prototype_image|
              = prototype_image.file_field :content
              = prototype_image.hidden_field :role, value: "main"
        .col-md-12
          %ul.proto-sub-list.list-group
            = f.fields_for :prototype_images, @sub_contents do |prototype_image|
              %li.list-group-item.col-md-4
                .image-upload
                  = prototype_image.file_field :content
                  = prototype_image.hidden_field :role, value: "sub"
      .row.proto-description
        .col-md-12
          = f.text_field :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          = f.text_area :concept, cols: "30", rows: "4", placeholder: "Concept"
        .col-md-12
          %h4 Tag List
          .row
            - Settings.tag_list_example.each do |tag|
              .col-md-4
                = text_field_tag "prototype[tag][]", "", placeholder: tag
      .row.text-center.proto-btn
        = f.submit "Publish", class: "btn btn-lg btn-primary btn-block"

/ 確認2 上のtext_field_tagで→<input id="query", name="prototype[tag][]", type="text", value="", placeholder="Web Design"
/ が生成される。その後ユーザーが入力した値がtags テーブルのnameに入り、tags/indexで格納されたものから順に表示される
