.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to image_tag(prototype.prototype_images.first.content), prototype_path(prototype.id)
    .caption
      %h3= prototype.title
      .proto-meta
        .proto-user
          = link_to "by #{prototype.user.username}", user_path(prototype.user.id), method: :get
        .proto-posted
          = prototype.created_at.strftime("%b %d")
      %ul.proto-tag-list.list-inline
        - prototype.tags.each do |tag|
          %li
            = link_to tag.name, tag_path(tag.id), class: "btn btn-default"
