.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag(@prototype.user.avatar, size: "64x64", class: "media-object"), user_path(@prototype.user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
            - if @prototype.user_id == current_user.id
              = link_to 'EDIT', edit_prototype_path(@prototype.id), class: "btn btn-xs btn-primary navbar-btn"
              = link_to 'DELETE', prototype_path(@prototype.id), method: :delete, class: "btn btn-xs btn-primary navbar-btn"
          .proto-user
            = link_to "by #{ @prototype.user.username }", user_path(@prototype.user.id)
            %span.degree= @prototype.user.profile

    .col-md-6.text-right#js-like-buttons
      = render partial: "prototypes/likes/like", locals: { prototype: @prototype, like: @like }

  .row
    .col-md-9
      = image_tag("#{ @prototype.prototype_images.first.content }", class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.prototype_images.sub.each do |sub_content|
          %li.list-group-item
            = image_tag(sub_content.content, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p= @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{ href: "#", class: "btn btn-default"} iPad
        %li
          %a{ href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      / 後でAjaxで非同期通信を行い、文字カウントを変えるためにidで指定しておく
      %span#comments-count
        = "( #{ @prototype.comments.count } )"
    .col-md-8
      / 後でAjaxで非同期通信を行い、投稿後すぐにブラウザに反応されるようにするため
      #js-comments
        = render partial: "prototypes/comments/comment", collection: @comments
      .form-inline
        / ユーザーがサインインしている状態のみコメントフォームを出す
        - if user_signed_in?
          / hidden_fieldでuser_idとprototype_idをとることによってcomments時に同時にデータベースへ保存
          = form_for [@prototype, @comment], remote: true do |f|
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :prototype_id, value: @prototype.id
            %h4 Write a comment
            .row
              .form-group.col-md-10
                = f.text_area :content, placeholder: "Your comments", class: "form-control", rows: "3"
              .form-group.col-md-2
                = f.submit "Comment", class: 'button btn btn-primary'
