- if user_signed_in?
  - if prototype.liked_by?(current_user.id)
    %button.btn.btn-default
      = image_tag("icon_heart.svg")
      LIKE
      %span.num= prototype.likes_count
  - else
    = button_to prototype_likes_path(prototype_id: prototype.id), method: :post, class: "btn btn-default", remote: true do
      = image_tag("icon_heart.svg")
      LIKE
      %span.num= prototype.likes_count
- else
  %button.btn.btn-default
    = image_tag("icon_heart.svg")
    Like
    %span.num= prototype.likes_count
