.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li{ class: "#{ "active" if @status == 'popular' }" }
          = link_to 'Popular PROTO', popular_index_path
        %li{ class: "#{ "active" if @status == 'newest' }" }
          = link_to 'Newest PROTO', root_path
      = link_to 'View Tags', tags_path, class: "btn btn-default col-lg-1"

.container
  .row
    .col-sm-4.col-sm-3
      %a.tag.thumbnail{href: "/tags/1"}
        .tag-name
          web
        .tag-project
          1 project
    .col-sm-4.col-sm-3
      %a.tag.thumbnail{href: "/tags/2"}
        .tag-name
          iOS
        .tag-project
          1 project
    .col-sm-4.col-sm-3
      %a.tag.thumbnail{href: "/tags/3"}
        .tag-name
          Design
        .tag-project
          1 project